ServerConfigMtk-P2-066/ServerConfigMtk-P2-066/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceMTK_P1_066" />
  <xs:element name="Tambah">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TambahResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TambahResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kurang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KurangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KurangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KaliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KaliResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bagi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BagiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BagiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TKoordinat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceMTK_P1_066" minOccurs="0" name="a" nillable="true" type="q1:Koordinat" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceMTK_P1_066" minOccurs="0" name="b" nillable="true" type="q2:Koordinat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TKoordinatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceMTK_P1_066" minOccurs="0" name="TKoordinatResult" nillable="true" type="q3:Koordinat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>